<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Not Found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="p-8 bg-cyan-700"></div>
    <div class="w-1/2 h-full p-6 m-auto bg-red-600 text-center">
        <h1 class="text-xl font-bold">Page not Found</h1>
        <h2 class="text-lg">{{ . }} não existe</h2>
    </div>
</body>
</html>